<td>
	<div class="radio">
		<input type="radio" name="loan" value="<%= _encoded %>">
	</div>
</td>
<td><%= basePrice %></td>
<td><%= loanTermInMonths %></td>
<td><%= rate %></td>
<td><%= creditScore %></td>
<td><%= totalCost %></td>
<td><%= monthlyPayments %></td>