<td>
	<div class="radio">
		<input type="radio" name="loan" <%= _selected ? 'checked' : '' %>>
	</div>
</td>
<td class="price"><%= basePrice %></td>
<td class="term"><%= loanTermInMonths %></td>
<td class="rate"><%= rate %></td>
<td class="score"><%= creditScore %></td>